<app-header />
<main>
  <section class="main-section">
    <div class="headline">
      <span class="subtitle">Kipper Consultoria</span>
      <h1 class="title">A consultoria que você busca para seu software</h1>
    </div>
    <img
      ngSrc="assets/Component 1.png"
      width="500"
      height="400"
      alt=""
      srcset=""
    />
  </section>

  <section class="container-benefits">
    <div class="text-container-benefits">
      <div class="container-percent">
        <h2>95% das empresas</h2>
        <div class="line"></div>
      </div>
      <h3 class="text-benefits">
        Não sabem como lidar com problemas de
        <b class="text-emphasis">escalibilidade</b> e grande volume de
        requisições.
      </h3>
    </div>
    <button class="btn-talk-to-us">Fale com nossos especialistas</button>
  </section>

  <section class="cte">
    <div class="inside-text">
      <h4>Fique por dentro de tendências</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
        mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
        tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
        suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus
        ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales.
        Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In
        iaculis arcu eros, eget temp
      </p>
    </div>

    <form action="" class="form">
      <div class="container-inputs">
        <label for="name">Nome</label>
        <input type="text" id="name" />

        <label for="email">E-mail</label>
        <input type="email" id="email" />
      </div>

      <button>Se inscreva</button>
    </form>
  </section>

  <section class="container-advantage">
    <div class="container-image">
      <img ngSrc="assets/team.png" width="500" height="400" alt="" srcset="" />
      <h5>Equipe capacitada</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
        mattis ligula consectetur.
      </p>
    </div>

    <div class="container-image">
      <img
        ngSrc="assets/project-guide.png"
        width="500"
        height="400"
        alt=""
        srcset=""
      />

      <h5>Seus projetos guiados do zero</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
        mattis ligula consectetur.
      </p>
    </div>
  </section>

  <section class="container-cte">
    <h2>Quer elevar seu software e seus negócios para outro nível?</h2>
    <button>Fale com nossos especialistas</button>
  </section>

  <footer>
    <img
      ngSrc="assets/logoMenor.png"
      width="100"
      height="40"
      alt=""
      srcset=""
    />

    <div class="icons">
      <div class="ball">
        <img ngSrc="assets/insta.svg" width="25" height="25" alt="" srcset="" />
      </div>

      <div class="ball">
        <img ngSrc="assets/face.svg" width="25" height="25" alt="" srcset="" />
      </div>
    </div>
  </footer>
</main>
